<p>actividades works!</p>
<!-- TODO: select de los distritos -->
<select name="listadistritos" (change)="distritoSeleccionado($event)" title="listadistritos">
    <option *ngFor="let distrito of distritos"
    value="{{distrito}}">{{distrito}}</option>
</select>

<div class="container mx-4 my-4" *ngIf="madridActivitites && madridActivitites.length>0">
    <table class="table table-striped">
        <thead>
            <th scope="col">TITULO</th>
            <th scope="col"></th>
        </thead>
        <tbody>
            <tr *ngFor="let evento of madridActivitites">
                <td>{{evento.title}}</td>
                <td><button class="btn btn-success" (click)="verEnElMapa(evento)">VER EN EL MAPA</button></td>
                <td><button class="btn btn-primary" (click)="verDetalleEvento(evento)">VER DETALLE</button></td>
            </tr>
        </tbody>
    </table>
    
</div>