<div class="input-group mb-3">
    <span id="id1" class="input-group-text">PESO </span>
    <input type="number" class="form-control" [(ngModel)]="peso" placeholder="Meta su peso en KG" aria-label="Username"
      aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="id2">ESTATURA </span>
    <input type="number" class="form-control" [(ngModel)]="estatura" placeholder="Meta su altura en Metros" aria-label="Username"
      aria-describedby="basic-addon1">
  </div>

  <button (click)="calcularIMC()">Calcular IMC</button>
  <p></p>
  <div *ngIf="oimc!=null">

    RESULTADO: Su IMC es {{oimc.imc}} que corresponde a {{oimc.estado}}
  </div>
  <div *ngIf="oimc!=null">

    <!-- <img alt="imagen resultado" [src]="imagen"> -->
    <img alt="imagen resultado" src={{oimc.imagen}}>
  </div>