<div class="input-group mb-3">
    <span id="id1" class="input-group-text">PESO </span>
    <input type="number" class="form-control" [(ngModel)]="peso" placeholder="Meta su peso en KG" aria-label="Username"
      aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="id2">ESTATURA </span>
    <input type="number" class="form-control" [(ngModel)]="estatura" placeholder="Meta su altura en Metros" aria-label="Username"
      aria-describedby="basic-addon1">
  </div>

  <button (click)="calcularIMC()" class="btn btn-primary">Calcular IMC</button>
  <button (click)="limpiarFormulario()" class="btn btn-danger">Borrar</button>
  <p></p>
  <div *ngIf="oimc!=null">

    RESULTADO: Su IMC es {{oimc.imc}} que corresponde a {{oimc.estado}}
  </div>
  <div *ngIf="oimc!=null">

    <!-- <img alt="imagen resultado" [src]="imagen"> -->
    <img alt="imagen resultado" src={{oimc.imagen}}>
  </div>

  <!-- //TODO: mostrar el array de IMCS-->
  <div *ngIf="array_imcs && array_imcs.length>0">

      <table>
        <thead>
          <th>PESO</th>
          <th>ALTURA</th>
          <th>IMC</th>
          <th>ESTADO</th>
          <th>IMAGEN</th>
        </thead>
        <tbody>
          <tr *ngFor="let aux_imc of array_imcs">
            <td>{{aux_imc.peso}}</td>
            <td>{{aux_imc.estatura}}</td>
            <td>{{aux_imc.imc}}</td>
            <td>{{aux_imc.estado}}</td>
            <td><img title="imgres" [src]="aux_imc.imagen"></td>

          </tr>
        </tbody>
      </table>

      <button *ngIf="array_imcs && array_imcs.length>1" (click)="ordenarPorImc()" class="btn btn-success">Ordenar</button>
  </div>